<tr>
  <td><%= notification["id"] %></td>
  <td>unread: <%= notification["unread"] %></td>
  <td><%= notification["reason"] %></td>
  <td><%= notification["updated_at"] %></td>
  <td><%= notification["last_read_at"] %></td>
  <td>
    <ul
      data-controller="subject"
      data-subject-token="<%=current_user.nil? ? '' : current_user.token%>"
      data-subject-url="<%= notification["subject"]["url"] %>"
      >
      <li><strong>Title: </strong><%= notification["subject"]["title"] %></li>
      <li data-action="click->subject#fetchData"><strong>URL: </strong><%= notification["subject"]["url"] %></li>
      <li data-subject-target="url"><strong>Latest comment url: </strong><%= notification["subject"]["latest_comment_url"] %></li>
      <li><strong>Type: </strong><%= notification["subject"]["type"] %></li>
    </ul>
  </td>
  <td>
    <ul>
      <% notification["repository"].each do |k, v| %>
        <li><strong><%= k %>: </strong><%= v %></li>
      <% end %>
    </ul>
  </td>
  <td><%= notification["url"] %></td>
  <td><%= notification["subscription_url"] %></td>
  <td>--<%= notification["subscribe"] %>--</td>
  <td><%#= notification[] %></td>
</tr>
